1. One (1) web page on the site must list all sources
of information used to create the website and be
labeled 'Reference Page.'

2. If copyrighted material, such as text, images, or
sound from other sources is used, proper written
permission must be included/documented on the
reference page.

3. Participants must include a completed Student
Copyright Checklist (in PDF format) as a link on the
website reference page. (See Forms Appendix).
Failure to include a Student Copyright Checklist
will result in a disqualification.

4. Participants must include a completed Work Log
(in PDF format) as a link on the website reference
page. (See Forms Appendix); pages as needed
